---
import { type CollectionEntry, getCollection } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("portofolio");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"portofolio">;

const portofolio = Astro.props;
const { Content } = await portofolio.render();
---

<ArticleLayout title={portofolio.data.title}>
  <main>
    <article class="prose prose-invert mx-80 text-white">
      <Content />
    </article>
  </main>
</ArticleLayout>
