---
import { type CollectionEntry, getCollection } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("portofolio");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"portofolio">;

const portofolio = Astro.props;
const { Content } = await portofolio.render();

const { title, projectName, heroImage } = portofolio.data;
---

<ArticleLayout title={portofolio.data.title}>
  <main>
    <article>
      <div
        class="prose prose-invert mx-5 mt-10 max-w-[80ch] md:mx-10 lg:mx-auto"
      >
        {
          heroImage && (
            <div class="px-2 sm:px-4">
              <img
                src={heroImage}
                alt={projectName}
                class="mx-auto block rounded-md"
              />
            </div>
          )
        }
        <h1 class="text-center">{title}</h1>
        <hr />
        <Content />
      </div>
    </article>
  </main>
</ArticleLayout>
