---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mb-96">
    <h2 class="mt-5 text-center text-3xl font-semibold text-white">About Me</h2>
    <section class="mx-8 mt-10 md:flex md:gap-4 lg:mx-20">
      <div class="md:w-2/5">
        <div class="flex w-full flex-col items-center text-white">
          <img
            src="/gwejh.jpg"
            alt="Reza Setyawan Picture"
            class="aspect-squaresquare block h-60 w-60 rounded-full border border-white object-cover p-1"
          />
          <h2 class="mt-3 font-semibold">Reza Setyawan</h2>
          <p class="text-center text-sm">
            Fullstack Web Developer | Web Development Enthusiast
          </p>
          <div class="mt-4 flex items-center justify-center gap-4">
            <a href="https://www.github.com/rezasetyawan" class="flex gap-2">
              <svg viewBox="0 0 128 128" class="w-8">
                <g fill="#ffffff"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"
                  ></path><path
                    d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm2.446 2.729c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zM31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm3.261 3.361c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm4.5 1.951c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm4.943.361c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm4.598-.782c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"
                  ></path></g
                >
              </svg>
              <!-- <div class="text-sm max-sm:hidden">
                <h3>GitHub</h3>
                <span class="text-gray-400">rezasetyawan</span>
              </div> -->
            </a>
            <a
              href="https://www.linkedin.com/in/reza-setyawan"
              class="flex gap-2"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
                alt="linkedin"
                class="w-8"
              />
              <!-- <div class="text-sm max-sm:hidden">
                <h3>Linkedin</h3>
                <span class="text-gray-400">rezasetyawan</span>
              </div> -->
            </a>
            <a href="https://www.instagram.com/rezza_wan" class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                fill="none"
                class="w-8"
              >
                <rect
                  x="2"
                  y="2"
                  width="28"
                  height="28"
                  rx="6"
                  fill="url(#paint0_radial_87_7153)"></rect>
                <rect
                  x="2"
                  y="2"
                  width="28"
                  height="28"
                  rx="6"
                  fill="url(#paint1_radial_87_7153)"></rect>
                <rect
                  x="2"
                  y="2"
                  width="28"
                  height="28"
                  rx="6"
                  fill="url(#paint2_radial_87_7153)"></rect>
                <path
                  d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z"
                  fill="white"></path>
                <defs>
                  <radialGradient
                    id="paint0_radial_87_7153"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)"
                  >
                    <stop stop-color="#B13589"></stop>
                    <stop offset="0.79309" stop-color="#C62F94"></stop>
                    <stop offset="1" stop-color="#8A3AC8"></stop>
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_87_7153"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)"
                  >
                    <stop stop-color="#E0E8B7"></stop>
                    <stop offset="0.444662" stop-color="#FB8A2E"></stop>
                    <stop offset="0.71474" stop-color="#E2425C"></stop>
                    <stop offset="1" stop-color="#E2425C" stop-opacity="0"
                    ></stop>
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_87_7153"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)"
                  >
                    <stop offset="0.156701" stop-color="#406ADC"></stop>
                    <stop offset="0.467799" stop-color="#6A45BE"></stop>
                    <stop offset="1" stop-color="#6A45BE" stop-opacity="0"
                    ></stop>
                  </radialGradient>
                </defs>
              </svg>
              <!-- <div class="text-sm max-sm:hidden">
                <h3>Instagram</h3>
                <span class="text-gray-400">rezza_wan</span>
              </div> -->
            </a>
            <a href="mailto:setyawanreza960@gmail.com" class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-8"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#4caf50"
                  d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"
                ></path><path
                  fill="#1e88e5"
                  d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"
                ></path><polygon
                  fill="#e53935"
                  points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"
                ></polygon><path
                  fill="#c62828"
                  d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"
                ></path><path
                  fill="#fbc02d"
                  d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z"
                ></path>
              </svg>
              <!-- <div class="text-sm max-sm:hidden">
                <h3>Linkedin</h3>
                <span class="text-gray-400">rezasetyawan</span>
              </div> -->
            </a>
          </div>
        </div>
      </div>
      <div class="mt-8 flex flex-col gap-4 text-white md:mt-0 md:w-3/5">
        <p>
          Hi, you can call me Reza! I'm a passionate Full-Stack Web Developer
          who thrives on building engaging web experiences.
        </p>
        <p>
          The web development field is a constant evolution, and that's what
          excites me most. There's always a fresh challenge, a new technology to
          delve into, which keeps the work not only intellectually stimulating
          but also incredibly engaging.
        </p>
        <p>
          My approach is driven by a strong foundation in soft skills like
          reliability, responsibility, discipline, and adaptability. This allows
          me to tackle projects efficiently and effectively, while also being a
          valuable team player who can readily adjust to new requirements.
          Furthermore, I possess a robust skillset in both front-end and
          back-end development.
        </p>
        <p>
          I bring a versatile skillset to the table, proficient in both
          front-end and back-end development. On the front-end, I can build
          user-friendly interfaces with frameworks like React, Vue, and
          libraries like Tailwind CSS. For back-end development, I leverage
          frameworks like Nest.js and databases like PostgreSQL, ensuring smooth
          functionality.
        </p>
      </div>
    </section>
    <section class="mx-2 mt-10 md:mt-16 lg:mx-20 lg:mt-20">
      <h2 class="text-center text-3xl font-semibold text-white">Experience</h2>
      <div>
        <ol
          class="relative mx-8 my-8 border-l border-gray-200 transition-colors duration-300"
        >
          <li class="mb-10 ml-6 space-y-2 text-white">
            <span
              class="absolute -left-4 flex h-8 w-8 items-center justify-center rounded-full bg-green-200 ring-4 ring-white"
              ><svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                class="h-3.5 w-3.5 text-green-500"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
                ><path fill="none" d="M0 0h24v24H0V0z"></path><path
                  d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"
                ></path></svg
              ></span
            >
            <div class="ml-2 lg:ml-4">
              <h3 class="font-medium leading-tight">
                PT. Cipta Anya Nugraha Creative (CAN Creative) - Intern Frontend
                Web Developer
              </h3><p>July 2023 - December 2023</p><ul>
                <li class="list-inside list-disc">
                  Develop a user friendly website that responsive across
                  multiples screen size
                </li>
                <li class="list-inside list-disc">
                  Slicing UI/UX design into a website
                </li>
                <li class="list-inside list-disc">
                  Collaborate with team to develop a website based on client
                  requests
                </li>
                <li class="list-inside list-disc">
                  Slicing UI/UX design into a website
                </li>
                <li class="list-inside list-disc">
                  Develop ecommerce using Vue js, Nuxt js, Tailwind CSS and
                  Supabase
                </li>
                <li class="list-inside list-disc">
                  Build an liquid vape ecommerce website, using Vue js and
                  bootstrap
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </section>
    <section class="mx-8 mt-10 md:mt-16 lg:mx-28 lg:mt-20">
      <h2 class="text-center text-3xl font-semibold text-white">
        Languages and Tools
      </h2>
      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Frontend</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              HTML
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              CSS
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Javascript
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Typescript
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              React.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Next.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Vue.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nuxtjs/nuxtjs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Nuxt.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Astro
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Backend</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Node.js
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Express.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Nest.js
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Cloud Services</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/supabase/supabase-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Supabase
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Firebase
            </p>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">DBMS & ORM</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              PostgreSQL
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://avatars.githubusercontent.com/u/108468352?s=200&v=4"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Drizzle ORM
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">
          UI Frameworks & Components
        </h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Tailwind CSS
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Bootstrap
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://avatars.githubusercontent.com/u/139895814?s=280&v=4"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Shadcn/ui
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Tools</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              GIT
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              GitHub
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              GitLab
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              VSCode
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Postman
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
