---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mb-96">
    <h2 class="mt-5 text-center text-3xl font-semibold text-white">About Me</h2>
    <section class="mx-8 mt-10 lg:mx-20 lg:flex">
      <div class="lg:w-2/5">
        <div class="flex w-full flex-col items-center text-white">
          <img
            src="/gwejh.jpg"
            alt="Reza Setyawan Picture"
            class="aspect-squaresquare block h-60 w-60 rounded-full border border-white object-cover p-1"
          />
          <h2 class="mt-3 font-semibold">Reza Setyawan</h2>
          <p class="text-center text-sm">
            Fullstack Web Developer | Web Development Enthusiast
          </p>
        </div>
      </div>
      <div class="mt-8 flex flex-col gap-4 text-white lg:mt-0 lg:w-3/5">
        <p>
          Hi, you can call me Reza! I'm a passionate Full-Stack Web Developer
          who thrives on building engaging web experiences.
        </p>
        <p>
          The web development field is a constant evolution, and that's what
          excites me most. There's always a fresh challenge, a new technology to
          delve into, which keeps the work not only intellectually stimulating
          but also incredibly engaging.
        </p>
        <p>
          My approach is driven by a strong foundation in soft skills like
          reliability, responsibility, discipline, and adaptability. This allows
          me to tackle projects efficiently and effectively, while also being a
          valuable team player who can readily adjust to new requirements.
          Furthermore, I possess a robust skillset in both front-end and
          back-end development.
        </p>
        <p>
          I bring a versatile skillset to the table, proficient in both
          front-end and back-end development. On the front-end, I can build
          user-friendly interfaces with frameworks like React, Vue, and
          libraries like Tailwind CSS. For back-end development, I leverage
          frameworks like Nest.js and databases like PostgreSQL, ensuring smooth
          functionality.
        </p>
      </div>
    </section>
    <section class="mx-2 mt-10 lg:mx-20 lg:mt-20">
      <h2 class="text-center text-3xl font-semibold text-white">Experience</h2>
      <div>
        <ol
          class="relative mx-8 my-8 border-l border-gray-200 transition-colors duration-300"
        >
          <li class="mb-10 ml-6 space-y-2 text-white">
            <span
              class="absolute -left-4 flex h-8 w-8 items-center justify-center rounded-full bg-green-200 ring-4 ring-white"
              ><svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                class="h-3.5 w-3.5 text-green-500"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
                ><path fill="none" d="M0 0h24v24H0V0z"></path><path
                  d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"
                ></path></svg
              ></span
            >
            <div class="ml-2 lg:ml-4">
              <h3 class="font-medium leading-tight">
                PT. Cipta Anya Nugraha Creative (CAN Creative) - Intern Frontend
                Web Developer
              </h3><p>July 2023 - December 2023</p><ul>
                <li class="list-inside list-disc">
                  Develop a user friendly website that responsive across
                  multiples screen size
                </li>
                <li class="list-inside list-disc">
                  Slicing UI/UX design into a website
                </li>
                <li class="list-inside list-disc">
                  Collaborate with team to develop a website based on client
                  requests
                </li>
                <li class="list-inside list-disc">
                  Slicing UI/UX design into a website
                </li>
                <li class="list-inside list-disc">
                  Develop ecommerce using Vue js, Nuxt js, Tailwind CSS and
                  Supabase
                </li>
                <li class="list-inside list-disc">
                  Build an liquid vape ecommerce website, using Vue js and
                  bootstrap
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </section>
    <section class="mx-8 mt-10 lg:mt-20 xl:mx-28">
      <h2 class="text-center text-3xl font-semibold text-white">
        Languages and Tools
      </h2>
      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Frontend</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              HTML
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              CSS
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Javascript
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Typescript
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              React.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Next.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Vue.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nuxtjs/nuxtjs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Nuxt.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Astro
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Backend</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Node.js
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Express.js
            </p>
          </div>

          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Nest.js
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Cloud Services</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/supabase/supabase-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Supabase
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Firebase
            </p>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">DBMS & ORM</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              PostgreSQL
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://avatars.githubusercontent.com/u/108468352?s=200&v=4"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Drizzle ORM
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">
          UI Frameworks & Components
        </h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Tailwind CSS
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Bootstrap
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://avatars.githubusercontent.com/u/139895814?s=280&v=4"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Shadcn/ui
            </p>
          </div>
        </div>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-white">Tools</h3>
        <div
          class="mt-2 grid grid-cols-3 gap-4 min-[425px]:grid-cols-4 sm:grid-cols-5 md:grid-cols-6 min-[900px]:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10 min-[1440px]:grid-cols-11"
        >
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              GIT
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              GitHub
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              GitLab
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              VSCode
            </p>
          </div>
          <div
            class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg"
              class="mt-1 w-16"
            />

            <p
              class="mt-1.5 whitespace-nowrap text-center text-xs font-medium lg:text-sm"
            >
              Postman
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
