---
interface Props {
  icon: string;
  label: string;
}

const { icon, label } = Astro.props;
---

<div
  class="flex aspect-square flex-col items-center justify-center rounded-md bg-white px-4 py-1"
>
  <img src={icon} class="mt-1 w-16 m-0" />

  <p
    class="mt-1.5 whitespace-nowrap text-center text-xs font-medium text-black lg:text-sm"
  >
    {label}
  </p>
</div>
